body {
     margin: 0;
}
.headerNavFlxb {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
}
.login-btn {
    height: 57px;
    width: 147px;
    background-color: #8B6F47;
    margin-right: 50px;
    border-radius: 15px;
    border: #8B6F47;
}
#login-txt {
    color: white;
    font-size: x-large;
}
.flxb-txts-main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flxb-txts-main-page a {
    text-decoration: none;
    color: #333;    
    font-weight: 500;
    transition: color 0.2s;  
    margin: 0 15px;
    font-size: 18px;
}

.flxb-txts-main-page a:hover {
    color: #8B6F47;          
}
.card-service {
    position: relative;
    width: 700px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    background: white;
    border: 8px solid transparent;
    border-image: linear-gradient(90deg, #693623 0%, rgba(255,255,255,0) 100%) 1;

    margin: 120px auto 40px auto; 
}

.img-wrapper {
    position: relative;
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-card1 {
    position: absolute;
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 4px;
    box-shadow: -40px 39px 0px rgba(0, 0, 0, 0.15); 
    transform: translate(300px, -150px);
}
#img-card2 {
    position: absolute;
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 4px;
    box-shadow: -40px 39px 0px rgba(0, 0, 0, 0.15); 
    transform: translate(300px, -200px);
}
#img-card3 {
    position: absolute;
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 4px;
    box-shadow: -40px 39px 0px rgba(0, 0, 0, 0.15); 
    transform: translate(300px, -175px);
}
.txt-wrap {
    text-wrap: balance ;
}
.main-tittles {
    font-size: xx-large;
    font-family: "Inter", sans-serif;
}
.txt-center {
     text-align: center;
}
.our-team {
    display: flex;
    justify-content: center;
}